@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {font-family: "Frankfurter";
    src: url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.svg#Frankfurter") format("svg"); /* iOS 4.1- */
}

@viewport {
    min-height: 800px;
  }

/*    src: url('~static/font/frankfurter-plain.eot?#iefix') format('embedded-opentype'), url('~static/font/frankfurter-plain.woff') format('woff'), url('~static/font/frankfurter-plain.ttf') format('truetype'), url('~static/font/frankfurter-plain.svg#frankfurter-plain') format('svg');
*/

body {
    background: #1fbcff;
    font-family: 'Roboto',sans-serif;
}

.squared-btn {
    border-radius: 10%;
    height: 56px;
    width: 56px;
}

.clickable{
    cursor: pointer!important;
}

.btn-floating {
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    width: 75px;
    height: 75px;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 10%;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    box-shadow: -7px 7px rgba(0, 0, 0, 0.158);
  }

  .text-center{
      text-align: center;
  }