@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@font-face {
    font-family: "Frankfurter";
    src: url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.eot");
    /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.woff2") format("woff2"),
        /* chrome firefox */
        url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.woff") format("woff"),
        /* chrome firefox */
        url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.ttf") format("truetype"),
        /* chrome firefox opera Safari, Android, iOS 4.2+*/
        url("https://db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.svg#Frankfurter") format("svg");
    /* iOS 4.1- */
}

/*https://www.onlinewebfonts.com/download/e094dede1f515189f4972f03427ad6eb*/
@font-face {
    font-family: "Frankfurter Medium";
    src: url("https://db.onlinewebfonts.com/t/ddf394e075373b95c7cbb0ff2a674029.eot");
    src: url("https://db.onlinewebfonts.com/t/ddf394e075373b95c7cbb0ff2a674029.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/ddf394e075373b95c7cbb0ff2a674029.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/ddf394e075373b95c7cbb0ff2a674029.woff") format("woff"), url("https://db.onlinewebfonts.com/t/ddf394e075373b95c7cbb0ff2a674029.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/ddf394e075373b95c7cbb0ff2a674029.svg#Frankfurter Medium") format("svg");
}

@viewport {
    min-height: 680px;
}

/*    src: url('~static/font/frankfurter-plain.eot?#iefix') format('embedded-opentype'), url('~static/font/frankfurter-plain.woff') format('woff'), url('~static/font/frankfurter-plain.ttf') format('truetype'), url('~static/font/frankfurter-plain.svg#frankfurter-plain') format('svg');
*/

body {
    background: #1fbcff;
    font-family: 'Roboto','Source Sans Pro',sans-serif;
}

.squared-btn {
    border-radius: 10%;
    height: 56px;
    width: 56px;
}

.clickable {
    cursor: pointer !important;
}

.click-through {
    pointer-events: none;
}

.btn-floating {
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    width: 75px;
    height: 75px;
    max-height: 80vh;
    background-color: #fff;
    border-radius: 10%;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    box-shadow: -7px 7px rgba(0, 0, 0, 0.158);
}

.text-center {
    text-align: center;
}

/*Modal Stuff*/
h1,
h2,
h3,
h4 {
    font-family: "Frankfurter Medium", "Frankfurter";
    text-transform: uppercase;
}

.container {
    max-width: 1280px;
    width: 80%;
    margin: 10% 0%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-small {
    max-width: 560px;
    width: 80%;
    margin: 10% 0%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-small p {
    font-size: 19px;
    line-height: 1.55;
    margin: 17.5px 5%;
}

.summary-col {
    width: 30%;
    max-height: 65vh;
    padding: 0px 10px;
    overflow-y: auto;
    position: fixed;
}

.summary-col h1 {
    font-size: 50px;
    line-height: 49px;
}

.summary-col h5 {
    font-size: 22px;
    margin-top: 8px;
    text-transform: uppercase;
}

.summary-col p {
    margin-bottom: 15px;
    width: 90%;
    margin: 5%;
}

.body-col {
    position: relative;
    /* width: 65%; */
    margin-left: 40%;
    max-height: 100%;
}

.body-col h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.body-col p {
    width: 85%;
    margin-bottom: 15px;
}

.bar {
    height: 4px;
    overflow: hidden;
    background-color: white;
    margin: 20px 10%;
    width: 80%;
    border-radius: 50px;
}


/*Sea animation*/
@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes floatsmall {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-15px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes floatX {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatex(-9px);
    }

    100% {
        transform: translatey(0px);
    }
}

.float {
    animation: float 6s ease-in-out infinite;
}

.floatsmall {
    animation: floatsmall 6s ease-in-out infinite;
}

.floatX {
    animation: floatX 6.5s ease-in-out infinite;
}

/*Try to adjust this in Javascript for viewport and stuff
@media only screen and (max-height: 638px) {
    html {
        zoom: 0.75;
    }
}*/


.container-small img {
    border: 4px solid white;
    border-radius: 10px;
    margin: 10px 0px;
    cursor: pointer;
}

.lightbox__image {
    text-align: center;
}

.container-small .lightbox__image img {

    text-align: center;
    cursor: default;
}

.lightbox__close {
    font-size: 3.5rem !important;
    margin-right: 25px;
}

.container-small h1 {
    font-size: 34px;
    ;
}

.container-small h3 {
    font-size: 24px;
    margin: -1px 0px;
    margin-top: -10px;
}


.container-small h2 {
    font-size: 33px;
    margin: 35px 0px 0px 5%;
}

ol,ul{
    margin: 35px 5%;
    font-size: 19px;
    line-height: 1.55;
}

.summary{
    border: 3.5px solid white;
    padding: 20px;
    margin: 12.5px 2.5%;
    border-radius: 7.5px;

    border: 3.5px solid white;
     padding: 0px; 
    margin: 12.5px -2.5%;
    border-radius: 7.5px;
}

.summary ul,.summary ol{
    margin: 45px 5%;
    line-height: 1.44;
}

li{
    margin-bottom: 10px;
}


/*table*/
table{
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
tr{
    border-bottom: 2px solid rgba(255, 255, 255, 0.42);
}
table, th, td {
    border: none;
    font-size: 19px;
}

table.striped tr {
    border-bottom: none;
}
th{
    font-weight: bold;
    text-transform: uppercase;
}
td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
td, th {
    padding: 15px 10px;
}
table.striped>tbody>tr:nth-child(odd) {
    background-color: rgba(242,242,242,0.5);
}
table.striped>tbody>tr>td {
    border-radius: 0;
}

.secondary {
    font-size: 28px!important;
    font-style: italic!important;
    margin: -10px 0px 20px 0px!important;
  }
  .lightbox__image img {
    width: auto!important;
    max-height: 85vh!important;
}

.iframe{
    width: 100%;
    margin-top: 25px;
}

blockquote {
    border-left: 5px solid #fcfcfc;
    font-style: italic;
    font-size: 19px;
    line-height: 1.55;
    margin: 17.5px 5%;
    padding-left: 17.5px;
}